/*
  :root <-> interchangable with html
  refers to the ROOT element of the page
*/
:root
{
  /*
    pre-define window dimensions
    not really sure why it has to remove 20px from the fucking thing
  */
  --sWidth: 480px;
  --sHeight: 600px;

  font-family: 'Trebuchet MS', 'Verdana', 'Segoe UI', sans-serif;
  
  margin: 0;
  height: var(--sHeight);
  line-height: 1;
  text-wrap: pretty;

  /* prevent user from selecting text */
  user-select: none;
  
  /* if there are scaling issues this hides them .. */
  overflow: hidden;
  
}

/*
  <body> html tag
  height spans the whole window
*/
body
{
  margin: 0;
  height: var(--sHeight);
}

/*
  height also spans the whole window
*/
#root
{
  height: var(--sHeight);
}

/*
  #top
  id="top"

  top panel provides game menu
  text is horizontally and vertically aligned
*/
#top
{
  /* keep it within the borders */
  box-sizing: border-box;
  display: flex;

  width: 100%;
  height: calc(var(--sHeight) * .1); /*60px*/

  justify-content: center; /*horizontal align*/
  align-items: center;    /*vertical align*/

  background-color: #ca90cf;
  color: #efefef;
  font-weight: 900;
  font-size: 24pt;
}

/**
  #keyState
  id="keyState"

  displays which (alphabetical) key was pressed last
*/
#keyState
{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0px; /*we really just need the text to be showing*/
  background-color: #c39451;
}

/*
  #middle
  id="middle"

  middle will have something too
*/
#middle
{
  /* keep it within the borders */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* text-align: center; */

  width: 100%;
  height: 90%; /*540px*/

  background-color: #cfca90;
  color: #efefef;
  font-weight: 900;
  font-size: 14pt;

}


/*
  #grid
  id="grid"

  house squares, game field
*/
#grid
{
  margin-top: 5%; /*distance between this and #top*/
  width: calc(var(--sWidth) * .8); 
  height: calc(var(--sWidth) * .8); /*384 x 384*/

  background-color: #323238;
  border: 3px solid #323238;
  border-radius: 12px;
}

/*
  .square
  className="square"

  squares form #grid
*/
.square
{
  display: flex;
  float: left;
  box-sizing: border-box;
  width: calc(100% / 6); /*64 px per square*/
  height: calc(100% / 6);
  background-color: #202020;
  border: 3px solid #323238;
  border-radius: 16px;

  font-size: 24pt;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

/*
  class="square red"

  color enumerations
*/
.square.red
{
  background-color: #cc6578;
}

.square.green
{
  background-color: #65ae77;
}

.square.blue
{
  background-color: #aa99ec;
}

.square.brown
{
  background-color: #674343;
}

.square.touched
{
  color: #101010;
}

/* testing purposes */
.square.break
{
  background-color: #202020;
}