/*
  :root <-> interchangable with html
  refers to the ROOT element of the page
*/
:root
{
  font-family: 'Trebuchet MS', 'Verdana', 'Segoe UI', sans-serif;
  color: rgba(12, 12, 12, 0.87);    /* text color */
  background-color: #cbb0cb;
  
  height: 100%;
  margin: 0;
  line-height: 1;
  text-wrap: pretty;
}

/*
  <body> html tag
  height spans the whole window
*/
body
{
  margin: 0;
  height: 100%;
  /* height: 600px; */
}

/*
  height also spans the whole window
*/
#root
{
  height: 100%;
}

/* top panel */
#top
{
  /* keep it within the borders */
  box-sizing: border-box;
  background-color: #323238;
  width: 100%;
  height: 30%;
}

.square
{
  box-sizing: border-box;
  display: flex; /* enable use of flexbox */
  width: 30%;
  height: 100%;
  float: left;
  font-size: 24pt;
  justify-content: center;
  align-items: center;
  font-weight: oblique;
  background-color: #999999;
  border: 3px solid #323243;
}

.red
{
  background-color: #dc7878;
}

.yellow
{
  background-color: #dcbf78;
}